@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.div-flottante {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
}

/* --------- */



.particulesNano {
    position: absolute;
    z-index: 0;
    filter: brightness(0.5);
}

#typeit b {
    font-weight: 600;
}

/* .homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text avatar";
    height: calc(100svh - 25px);
    width: 100%;
    color: white;
    font-size: 1.5em;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 3;

    min-height: 500px;

    background: radial-gradient(63.94% 63.94% at 50% -20%, var(--color-principal-hover) 0%, #0f0f10 100%), #0f0f10;

    gap: 32px;
    user-select: none;
} */

.homepage {
    height: calc(100svh - 25px);
    width: 100%;
    z-index: 3;
    min-height: 500px;
    user-select: none;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: radial-gradient(63.94% 63.94% at 50% -20%, var(--color-principal-hover) 0%, #0f0f10 100%), #0f0f10;
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
    gap: 8vw;
}

.home_halloween {
    background: url(./spider_top.webp) no-repeat, url(./spider_bottom.webp) no-repeat right bottom, radial-gradient(63.94% 63.94% at 50% 50%, var(--color-principal-hover) 0%, #0f0f10 100%), #0f0f10;
    background-size: contain;
}

.home_noel {
    background: url(./gift_left.png) bottom left no-repeat, url(./gift_right.png) bottom right no-repeat, linear-gradient(180deg, #1e1e1e 0%, var(--color-principal) 350%);
    background-size: contain;
    background-size: 20%;
}

@keyframes nanoParticuleAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.homepage__scrollAnimation {
    position: absolute;
    bottom: 4em;
    left: 50%;
    cursor: pointer;
    width: 100px;
    height: 0.5em;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px)
    }
}


.homepage__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    text-align: left;
    z-index: 3;
}

.homepage__text span {
    color: var(--color-principal);
}

.homepage__text h1 {
    margin-top: 0px;
    /* margin-bottom: 32px; */
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-wrap: pretty;
}


.homepage__text .buttonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 32px;
}

.homepage__text .buttonContainer>span {
    display: block;
}

.homepage__text .buttonContainer>span a {
    animation: spanFadeIn 1s ease;
    display: block;
}

@keyframes spanFadeIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.homepage__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 3;
}

.homepage__avatar svg {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

.invite_bot_button:first-of-type:hover {
    transform: scale(1.10);
}

.invite_bot_button span:last-of-type {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.support_button span:last-of-type {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.support_button:hover {
    transform: scale(1.10);
}

.support_button {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.buttonContainer span:first-of-type .invite_bot_button {
    text-align: center;
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    transition: transform 330ms ease-in-out;
    display: flex;
    gap: 0.3em;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonContainer span:last-of-type .support_button {
    text-align: center;
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: rgb(255 255 255/0.1) !important;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    transition: transform 330ms ease-in-out;
    display: flex;
    gap: 0.3em;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1350px) {
    .homepage__text h1 {
        font-size: 40px;
        line-height: 52px;
    }
}


@media screen and (max-width: 1200px) {
    .homepage__text h1 {
        font-size: 50px;
        line-height: 52px;
    }
}

@media screen and (max-width: 1100px) {

    .homepage__avatar svg {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .homepage__scrollAnimation {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .homepage {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: calc(100svh - 56px);
        background-color: #1e1e1e;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        padding: 0 5vw;
        box-sizing: border-box;
        overflow: hidden;
        gap: 32px;
    }

    .homepage__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        z-index: 3;
    }

    .homepage__text h1 {
        margin-top: 0px;
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
        letter-spacing: -0.03em;
    }

    .homepage__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 3;
    }

    .homepage__avatar svg {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
    }

    .homepage__text .buttonContainer {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        align-items: center;
        align-self: center;
        gap: 32px;
        margin-left: 0;
    }
}

@media screen and (max-width: 300px) {
    .invite_bot_button:last-of-type {
        display: none;
    }
}

@media screen and (max-height: 800px) and (max-width: 900px) {
    .homepage__text h1 {
        font-size: 30px;
        line-height: 52px;
    }

    p#typeit {
        display: none;
    }
}

@media screen and (max-height: 600px) and (max-width: 350px) {
    .homepage__text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .homepage__avatar svg {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-height: 452px) {
    .homepage__text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .homepage__avatar svg {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
    }

    .buttonContainer {
        margin: 10px
    }
}

@media screen and (max-height: 482px) {
    .homepage__text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .homepage__avatar svg {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
    }

    .buttonContainer {
        margin: 10px
    }
}

@media screen and (max-height: 480px) and (max-width: 320px) {
    .homepage__text h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .homepage__avatar svg {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
    }

    .homepage__text .buttonContainer {
        margin: 10px;
    }
}