.home__top__bot__invite {
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: var(--color-principal) ;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    transition: transform 330ms ease-in-out;
}

.WaveColor{
    fill: var(--color-principal);
}

.home__top__bot__invite:hover{
    transform: scale(1.10);
}

.home__top__bot__invite span {
    color: #fff;
}

.home__top__bot__title__desc {
    color: hsla(0,0%,100%,.7);
    font-size: 20px;
    text-align: center;
    margin: 20px 0 0;
}

.home__top__bot__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 16px 0 25px;
    z-index: 3;
}

.home__top__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 60px 0 0;
    z-index: 1;
    height: 700px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: run 1s ease-out 0s 1;
    animation: run 1s ease-out 0s 1;
}

.home__top__bot img{
    /* transition: transform 530ms ease-in-out; */
    animation: resparaiton 2s infinite both;
}

.home__top__bot img:hover{
    transform: rotate(100px);
    /* rotate: 1200px; */
    /* scale(1.10) */
}

@keyframes resparaiton {
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.home__top__bot__title__activities {
    position: relative;
    text-align: center;
    height: 40px;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
}

.home__top__bot__title__activities span {
    color: var(--color-principal) ;
    font-size: 30px;
    left: 0;
    opacity: 0;
    margin-top: 10px;
    position: absolute;
    white-space: nowrap;
}


.home__top__bot__title__activities span.visible {
    opacity: 1;
    position: relative;
    -webkit-animation: push-in 1s;
    animation: push-in 1s;
}

.home__top {
    background-color: var(--back-second-color);
    position: relative;
    z-index: 5;
}

.home__top .wave {
    position: absolute;
    background: url(wave.svg) repeat-x;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 190px;
    -webkit-animation: wave 30s linear infinite;
    animation: wave 30s linear infinite;
    z-index: 3;
}
/* 6192px */
@keyframes wave{
    0% {
        background-position: 6192px 0;
    }
    100% {
        background-position: 0 0;
    }
}