.roleRewardsContainer{
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    gap: 10px;
}

.channelExcluded{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #202225;
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 10px;
}

.channelExcluded > p{
    margin: 0 0 5px 0;
}

.channelExcluded .channelExcludedList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.channelExcluded .channelExcludedList .channelExcludedElement{
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 0.3em;
    cursor: pointer;
    gap: 0.5em;
    padding: 0 5px 0 5px;
    transition: filter 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.channelExcluded .channelExcludedList .channelExcludedElement:hover{
    filter: grayscale(1);
    text-decoration: line-through;
    animation: shake 1s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.channelExcluded .channelExcludedList select{
    all:unset;
    width: 24px;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5v14M5 12h14" /></svg>') no-repeat right center;
    padding-right: 20px; 
    color: transparent; 
    border: 1px solid rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 0.3em;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.2);
    padding: 0;
    cursor: pointer;
}

.channelExcluded .channelExcludedList select::-ms-expand {
    display: none;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.elementContainer>p {
    all: unset;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;

    padding: 5px 5px 5px 0;
    text-align: left;
    vertical-align: middle;
}


.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #383a40;
    border-radius: 4px;
    border: 1px solid #4d4b4b;
    padding: 0 0 0 10px;
    width: 100%;
}

.inputContainer * {
    all: unset;
    padding: 10px 10px 10px 0;
}

.inputContainer input {
    all: unset;
    background-color: #202225;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    height: 30px;
    outline: 0;
    text-align: center;
    transition: background-color .3s ease-in-out;
    width: 50px;
    cursor: pointer;
}

.inputContainer select {
    all: unset;
    padding: 10px 10px 10px 0;
    appearance: initial;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.inputContainer select:hover {
    color: rgba(var(--color-red), var(--color-green), var(--color-blue), 1);
}


.inputContainer select option {
    background-color: #202225;
    color: #fff;
}

.inputContainer select option:checked {
    background-color: #202225;
    color: #fff;
    font-weight: 500;
}

.spacerInfraction {
    margin: 15px 0;
    padding: 0;
    height: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
}

.spacerInfraction>div {
    width: 80%;
    height: 100%;
    background-color: #595959;
    border-radius: 10px;

}

.infractionContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;
}

.orderSelecter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}


.orderSelecter button {
    background-color: #33353b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #4d4b4b;
    box-sizing: border-box;
}

.orderSelecter button:hover {
    background-color: #4d4b4b;
}

.orderSelecter button:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
}

.orderSelecter button:disabled:hover {
    background-color: #33353b;
}

.automatedInfraction {
    color: white;
    background-color: #33353b;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    place-content: space-between;
    border: 1px solid #4d4b4b;
    flex-wrap: wrap;
}

.automatedInfraction b {
    color: white;
    font-weight: 700;
}


.groupInfractionElement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.automatedInfraction.configInf {
    place-items: flex-end;
}

.automatedInfraction button {
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.2);
    border: none;
    border-radius: 10px;
    padding: 6px 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.automatedInfraction button:hover {
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
}

.automatedInfraction.configInf button {
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
}

.block .load_more_data {
    align-items: center;
    background-color: #33353b;
    border-radius: 10px;
    margin-top: 10px;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.block .load_more_data p {
    margin: 0.5em 0;
}

.block .load_more_data.noMoreData {
    display: none;
}

.block .load_more_data:hover svg {
    animation: moveDown 1s ease-out infinite;
}


.block .load_more_data:hover {
    transform: scale(1.01);
}

@keyframes moveDown {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(5px);
    }

    80% {
        transform: translateY(-5px);
    }

}

.block table {
    color: white;
    width: 100%;
    text-indent: initial;
}

.block table th {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;

    padding: 8px;
    padding-bottom: 16px;
    text-align: left;
    vertical-align: middle;
}

.block table td {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.block table tbody tr td {
    padding: 5px 0;
}

.block table tbody tr:hover {
    background-color: #2f3136;
}

.block table .user {
    margin-right: auto;
}

.stats_sanction p {
    margin: 0;
    padding: 0;
}

.stats_sanction h4 {
    margin: 0;
    padding: 0;
}

.stats_separator {
    width: 4px;
    background-color: var(--color-principal);
    border-radius: 4px;
}

.stats_moderator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 15px;
}

.stats_moderator div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    color: white;
    font-weight: bold;
    width: -webkit-fill-available;
}

.stats_moderator div p {
    margin: auto 0;
    padding: 0;
}

.stats_moderator div img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.avatar_moderator {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.avatar_moderator .skeleton{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
        align-items: center;
}

.avatar_moderator .skeleton .skeleton-avatar{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #33353b;
    animation: skeleton 1s infinite alternate;
}

.avatar_moderator .skeleton .skeleton-text{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.avatar_moderator .skeleton .skeleton-text .skeleton-text-line{
    min-width: 80px;
    min-height: 1em;
    background-color: #33353b;
    border-radius: 4px;
    animation: skeleton 1s infinite alternate;
    font-size: 7px;
    text-align: start;
}

@keyframes skeleton {
    0% {
        background-color: #33353b;
    }
    100% {
        background-color: rgb(90, 89, 89)
    }
}

.avatar_moderator img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #33353b;
}

.avatar_moderator>div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.avatar_moderator>div>p {
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 170px;
}

.avatar_moderator>div>p:last-child {
    margin-right: auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.no_infraction {
    color: white;
    font-weight: bold;
    align-items: center;
    margin: 0 15px;
    text-align: left;
}

.no_infraction p {
    margin: 0;
}

.stats_moderator div .stats_moderator_info {
    gap: 2em;
    justify-content: end;
}

.stats_moderator div .stats_moderator_info_short {
    display: none;
}

.stats_moderator div .stats_moderator_info_short>div {
    justify-content: right;
}

.stats_moderator div .stats_moderator_info p {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

svg.disableSVGButton {
    filter: brightness(0.2);
    cursor: not-allowed;
}

.categorie_config {
    text-align: left;
    color: white;

}

.channelRenderDesign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    max-width: fit-content;
    padding: 0 10px;
    width: 100%;
}

.channelRenderDesign:hover{
    filter: grayscale(1);
    text-decoration: line-through;
    animation: shake 1s infinite;
}

.channelElements select{
    all:unset;
    width: 24px;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5v14M5 12h14" /></svg>') no-repeat right center;
    padding-right: 20px; 
    color: transparent; 
    border: 1px solid rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 0.3em;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.2);
    padding: 0;
    cursor: pointer;
}

.channelElements select::-ms-expand {
    display: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.channelRenderDesign svg {
    margin-right: 10px;
    fill: white;
}

.channelElements {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background: #212125;
}

.roleElements {
    border-radius: 10px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background: #212125;
}

.roleElements select{
    all:unset;
    width: 24px;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5v14M5 12h14" /></svg>') no-repeat right center;
    padding-right: 20px; 
    color: transparent; 
    border: 1px solid rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 0.3em;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.2);
    padding: 0;
    cursor: pointer;
}

.roleElements select::-ms-expand {
    display: none;
}

.roleRenderXP {
    color: white;
    font-size: 12px;
    font-weight: 500;
    background: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* height: 22px; */
    padding: 4px 8px;
    display: flex;
    flex-wrap: nowrap;
    max-width: fit-content;
    flex-direction: row;
    -o-box-align: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.roleRenderXP:hover{
    filter: grayscale(1);
    text-decoration: line-through;
    animation: shake 1s infinite;

}

.roleRenderXP span {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    /* margin: 4px 2px 4px 4px; */
}

.roleRewardElement {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 7px;
    padding: 5px 10px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    background-color: #212125;
    cursor: pointer;
    user-select: none;
}

.roleRewardElement .roleRenderXP{
    padding: 0 5px;
    background: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
}

.roleRewardElement .addRoleReward {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 5v14M5 12h14" /></svg>');
    background-position: center;
    background-repeat: no-repeat;
    color: transparent; 
    border: 1px solid rgba(var(--color-red), var(--color-green), var(--color-blue), 0.4);
    border-radius: 0.3em;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.2);
    padding: 10px 15px;
    margin-left: auto;
    color: white;
    cursor: pointer;
}

.roleRewardElement:hover{
    filter: grayscale(1);
    text-decoration: line-through;
    animation: shake 1s infinite;
}

.roleRewardElement.template {
    width: 100%;
    user-select: none;
    padding: 5px ;
}

.roleRewardElement.template:hover{
    animation: none;
    text-decoration: none;
    filter: none;
}

.roleRewardElement p {
    margin: 0;
    padding: 0;
    /* font-size: 1.2rem; */
}

.slidecontainer {
    width: 100%;
}

.radioComponent h6 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-principal);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-principal);
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-principal);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-principal);
    cursor: pointer;
}

.xpConfigType {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.xpConfigType > div{
    width: 100%;
}

.radioButton {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    text-align: left;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-principal);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}



.color-picker {
    position: relative;
    display: inline-block;
}

.color-picker input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.color-picker .color-preview {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.color-picker:hover .color-preview {
    border-color: #999;
}

.color-picker .color-label {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}



/* /////////////// Dashboard Info ////////////////// */

.infoDashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.infoDashboard h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-principal);
    margin-bottom: 10px;
    text-align: left;
}

.infoDashboard__content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    height: 100%;
    color: white;
}

.infoDashboard__content a {
    text-decoration: none;
    color: var(--color-principal);
}

/* /////////////// End Dashboard Info ////////////////// */

/* ///////////////////////// Player Musique //////////////////////////// */

.containerPlayer {
    display: grid;
    grid-template-areas: "titre"
        "file-attente"
        "player";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    height: 100%
}

.containerPlayer>h1 {
    grid-area: titre;
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    border-bottom: 1px solid #4d4b4b;
}

.file-attente {
    grid-area: file-attente;
    padding: 10px;
    height: calc(100vh - (60px + 90px + 6em));
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 10px;
    display: grid;
}

.file-attente .list {
    display: grid;
    grid-template-areas: "pochette name interaction";
    grid-template-columns: 60px auto 60px;
}

.file-attente .list .pochette {
    grid-area: pochette;
    width: 100%;
    height: 100%;
}

.file-attente .list .pochette .interaction {
    grid-area: interaction;
    width: 100%;
    height: 100%;
}

.file-attente .list .pochette img {
    width: 50px;
    height: 50px;
}

.file-attente .list .titre {
    grid-area: name;
    width: 100%;
    height: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.file-attente .list .titre p {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-attente h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    text-align: left
}

.playing-bar {
    grid-area: player;
    background-color: #2e3137;
    height: 90px;
    border: 1px solid var(--color-principal);
    border-radius: 10px;
    display: grid;
    grid-template-areas: "cover player-control volume-control";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.cover {
    grid-area: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.cover img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.cover p {
    color: var(--color-principal);
    text-align: left;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;

}

.player-control {
    grid-area: player-control;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.player-control>.disable {
    cursor: not-allowed;
}

.player-control svg {
    fill: var(--color-principal);
    margin: 0 10px;
    cursor: pointer;
}

.player-control svg[id="play-pause"] {
    width: 50px;
    height: 50px;
}

.player-control svg:active {
    transform: scale(0.9);
}

.player-control svg[id="skip"] {
    width: 30px;
    height: 30px;
    fill: var(--color-principal-hover);
}

.player-control>.disable {
    cursor: not-allowed;
}

.volume-control {
    grid-area: volume-control;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: end;
    justify-content: flex-end;
    padding: 10px;
}

.volume-control input {
    accent-color: var(--color-principal);
}

.volume-control svg {
    fill: var(--color-principal);
    cursor: pointer;
}

/* ///////////////////////// End Player Musique ///////////////////////////// */


/* /////////////////////// Send Message component ////////////////////////// */

.demo {
    padding: 16px 0;
}

.demo .message {
    position: relative;
    padding: 2px 0 2px 57px;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    min-height: 44px;
}

.demo .message .content {
    position: static;
}

.demo .message .content .header_info {
    display: flex;
    overflow: hidden;
    position: relative;
    line-height: 22px;
    min-height: 22px;
    color: #72767d;
    white-space: break-spaces;
    margin: 0;
}

.demo .message .content .header_info .botCertified {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: hsl(235, calc(0.95 * 85.6%), 64.7%);
    padding: 0 5px 0 2px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 11px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.demo .message .content .header_info .username {
    font-weight: 700;
    color: var(--color-principal);
    margin-right: 5px;
}

.demo .message .content .header_info .timestamp {
    font-size: 12px;
    color: #72767d;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.demo .message .content .avatar {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.demo .message .content .message_content pre {
    text-align: left;
    color: #fff;
    line-break: anywhere;
    white-space: break-spaces;
}

.demo .message .content .message_content p {
    text-align: left;
    color: #fff;
    line-break: anywhere;
}

/* /////////////////// SEND MESSAGE ////////////////////// */
.sendMessageContainer {
    border-radius: 5px;
    padding: 10px;
    background-color: #14171d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.sendMessageComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #36393f;
    padding: 10px;
    border-radius: 5px;
    max-width: 650px;
    min-height: 200px;
}

.SendMessageInput {
    padding: 11px;
    background-color: hsl(218, calc(0.95 * 7.9%), 27.3%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.SendMessageInput.disable {
    filter: brightness(0.5) grayscale(1);
    cursor: not-allowed;
}

.SendMessageInput.disable input {
    cursor: not-allowed;
}

.SendMessageInput svg {
    cursor: pointer;
}


.SendMessageInput svg:hover {
    animation: envoieEffect 1s ease-in-out infinite;
}

.SendMessageInput.disable svg:hover {
    cursor: not-allowed;
    animation: none;
}


@keyframes envoieEffect {
    0% {
        translate: 0px;
    }

    50% {
        translate: 5px;
    }

    100% {
        translate: 0px;
    }
}


.SendMessageInput input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.SendMessageInput textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;

    resize: none;
    min-height: 28px;
    height: 28px;
    max-height: 100px;
}

.SendMessageInput textarea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.channelForSend {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    max-height: 300px;
    gap: 10px;
    border-radius: 0.5em;
}

.channelForSend p {
    margin: 0;
    padding: 1em 0.5em;
    border-radius: 0.5em;
    border: 1px solid #33353a;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    scroll-snap-align: start;
    transition: background-color 0.2s ease-in-out;
}

.channelForSend p.channelSelected {
    border: 1px solid var(--color-principal-hover);
}

.channelForSend p:hover {
    cursor: pointer;
    background-color: #33353a;
}

@media screen and (max-width: 1310px) {
    .channelForSend {
        grid-template-columns: repeat(2, 1fr);
    }

    .sendMessageContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .channelForSend {
        grid-template-columns: repeat(1, 1fr);
    }

    .sendMessageContainer {
        grid-template-columns: 1fr 0.5fr;
    }
}

@media screen and (max-width: 1100px) {
    .sendMessageContainer {
        grid-template-columns: 1fr;
    }

    .sendMessageComponent {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .groupInfractionElement{
        width: 100%;
    }

    .elementContainer {
        width: 100%;
    }

    .configInf button{
        width: 100%;
        justify-content: center;
    }

    .configInf > div{
        width: 100%;
    }

    .groupInfractionElement{
        width: 100%;
    
    }
}

@media screen and (max-width: 450px) {
    .demo .message .content .header_info .timestamp {
        display: none;
    }

    .channelForSend {
        max-height: 200px;
    }
}


/* ///////////////////// END SEND MESSAGE /////////////////////// */


/* ///////////////////////////////////////////////////////////////////// */

.top .type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top .type h5 {
    margin: 0;
}

.top select {
    max-width: 300px;
}

.top input {
    max-width: 300px;
}

/* /////////////////////// WELCOME CONFIGURATION /////////////////////// */

.welcomeDisable {
    filter: opacity(0.5);
    cursor: not-allowed;
    pointer-events: none;
}

.block .infoActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.block .infoActive  h5{
    margin: 0;
}


.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1em 0;

    border-top: 1px #4d4b4b solid;
}

.block h5 {
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    margin: 1rem 0;
}

.padding-1 {
    padding: 1em;
}

.tag {
    background-color: #14171d;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
}

.colorModule {
    background-color: #14171d;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
}

.block .informationConfig {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    transition: opacity 0.2s ease-out 0.2s;
}

.block .informationConfig:last-child {
    margin-bottom: 0 !important;
}

.block .informationConfig.xpConfigType {
    margin-bottom: 1em;
}

.block .informationConfig.xpConfigType textarea{
    width: 100%;
}


.block.disabled .informationConfig {
    opacity: 0.5;
}

.block.disabled>*:not(.infoActive) {
    opacity: 0.5;
}

.informationWelcomeCanvas {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    transition: filter 0.2s ease-out 0s;
    text-align: left;

    gap: 1em;
}

.informationConfig ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.informationConfig .info {
    display: flex;
    align-items: center;
}

.informationWelcomeCanvas .configWelcomeCanvas {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1em;
}

.informationConfig ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.WelcomeComponente {
    max-width: 530px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}

.WelcomeComponente canvas {
    aspect-ratio: 1200/500;
    width: 100%;
}

.embed::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: var(--color-principal);
}

.embed {
    display: grid;
    grid-template-columns: 1fr auto;
    flex-wrap: wrap;
    position: relative;
    padding: 15px 15px 15px 18px;
    background-color: #232530;
    border-radius: 4px;
    gap: 10px;
}

.iconEmbed {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.iconEmbed.color {
    background: var(--color-principal);
}


.embedAuthor {
    display: flex;
    color: white;
    gap: 5px;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.thumbnailEmbed {
    float: right;
    right: -10px;
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.thumbnailEmbed.color {
    background: var(--color-principal);
}

.embedDescripton {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #414457;
    background-clip: padding-box;
    border: 1px solid #4e5459;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

.embedDescripton:focus {
    outline: none;
}

.configWelcomeEmbed {
    display: grid;
    grid-template-columns: 1fr auto;
    flex-wrap: wrap;
    position: relative;
    padding: 15px 15px 15px 18px;
    background-color: #262834;
    border-radius: 4px;
    gap: 10px;
    align-items: center;
}

.flou {
    animation: blurSaturation 1s ease-in-out;
    filter: blur(5px) saturate(0);
}

@keyframes blurSaturation {
    from {
        filter: blur(0px) saturate(1);
    }

    to {
        filter: blur(5px) saturate(0);

    }
}

.interactionEmbed {
    float: left;
    display: flex;
    padding-left: 10px;
    gap: 5px;
    align-items: center;
    margin-top: 4px;
}



/* /////////////////////// DASHBORD CONFIGURATION /////////////////////// */

.cardSave {
    z-index: 2000;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0;
    right: 0;
    margin-top: auto;
}

.hidden {
    display: initial;
    opacity: 100%;
    bottom: 0;

    animation: bottomUp 0.3s ease-out;
}

.closeCardSave {
    animation: bottomDown 0.3s ease-in;
    pointer-events: none;
    animation-fill-mode: forwards;
    display: none;
}

@keyframes bottomUp {
    0% {
        display: initial;
        bottom: -200px;
    }

    100% {
        display: none;
        bottom: 0px;
    }
}

@keyframes bottomDown {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -200px;
        display: none;

    }
}


.cardSave .buttonContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.saveConfig {
    background-color: rgb(23, 24, 30);
    padding: 12px 16px;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: white;
    gap: 1em;
    border-radius: 8px;
    animation: breatheBorder 2s infinite linear;
    border: 2px solid var(--color-principal)
}

.saveButton {
    padding: 5px 15px 5px 15px;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    border: 0px;
    transition: transform 330ms ease-in-out, filter 500ms ease-in-out;
}

.saveButton:hover {
    transform: scale(0.95);
}

.saveButton:disabled {
    filter: grayscale(80%);
    cursor: not-allowed;
}

.saveButton:disabled:hover {
    transform: scale(1);
}

.cancelButton {
    padding: 5px 15px 5px 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    ;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    border: 0px;
    transition: transform 330ms ease-in-out;
}

.cancelButton:hover {
    transform: scale(0.95);
}

.cancelButton:disabled {
    filter: grayscale(80%);
    cursor: not-allowed;
}

.cancelButton:disabled:hover {
    transform: scale(1);
}

@keyframes breatheBorder {
    0% {
        border-color: var(--color-principal)
    }

    50% {
        border-color: var(--back-first-color)
    }

    100% {
        border-color: var(--color-principal)
    }
}

@media (max-width: 1000px) {
    .logoChangement {
        display: none;
    }
}

@media (max-width: 500px) {
    .config {
        padding: 2em 2em 1em 1em;
    }

}

.block {
    background-color: #292B30;
    border-radius: 5px;
    margin-bottom: 1.5em;
    animation: spawn 0.5s ease-in-out;
}

@keyframes spawn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.block.automargin {
    background-color: #292B30;
    border-radius: 5px;
    margin-bottom: auto !important;
}

.form-check-input:checked {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.block:last-child {
    margin-bottom: 0;
}

.block h3 {
    color: white;
    text-align: left;
    padding: 0 1rem;
    margin: 1rem 0;
}

.block h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #4d4b4b;
    margin: 0;
}

.block .modules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 1200px) {
    .block .modules {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .block .modules {
        grid-template-columns: repeat(1, 1fr);
    }

    .saveConfig {
        justify-content: center;
    }
}



.componentGuild {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 2em;
}

.guildModule {
    background-color: rgb(49, 52, 66);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
    padding: 24px;
    cursor: default;
    user-select: none;
    color: white;
    text-align: left;
    border-radius: 8px;
    animation: spawn 0.5s ease-in-out;
}

.guildModule.logbackground {
    background-color: #292B30 !important;
}

.config>.guildModule .top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
    flex-wrap: wrap;
    gap: 1em;
}

.modules .guildModule .top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2em;
}

.guildModule .top h1 {
    margin-bottom: 4em;
    margin-top: 2em;
}

.picto {
    width: "48";
    height: "48";
}

.pictoLog {
    width: "48";
    height: "48";

    fill: var(--color-principal) !important;
}

.top .pictoLog {
    margin-right: 1em;
}

@media (max-width: 1200px) {
    .componentGuild {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

@media (max-width: 700px) {
    tr td:last-child .avatar_moderator p {
        display: none;
    }

    tr td:last-child .avatar_moderator {
        justify-content: center;
    }
}


@media (max-width: 580px) {
    .componentGuild {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .mod_cellule {
        display: none;
    }

    .infoDashboard img {
        display: none;
    }

    .stats_moderator_info {
        display: none !important;
    }

    .stats_moderator_info_short {
        display: initial !important;
        text-align: right;
    }
}

@media (max-width: 450px) {
    .duration_cellule {
        display: none;
    }

}