.error-page {
    background-color: var(--back-html-color);
    height: 100%;
    display: grid;
    justify-content: center;
}

.invite_bot_button {
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    transition: transform 330ms ease-in-out;
    display: flex;
    gap: 0.3em;
    width: fit-content;
}

#error svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ErreurPage__container {
    background: var(--back-html-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 5em;
    height: calc(100svh - 85px);
    padding: 0 1em;
    overflow: hidden;
}

.ErreurPage__container__error {
    width: max-content;
}

.ErreurPage__container__text {
    max-width: 600px;
    margin-top: 20px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    text-rendering: geometricPrecision;

}

.ErreurPage__container__text h1 {
    font-weight: 900;
    color: var(--color-principal);
}

.ErreurPage__container__text p {
    padding: 1em 0 1em 0;
    font-size: 100%;
    max-width: 30em;
}

.ErreurPage {
    overflow: hidden;
}

.pError {
    fill: var(--color-principal);
    stroke: var(--color-principal);
}

.sError {
    fill: var(--color-principal-hover);
    stroke: var(--color-principal-hover);
}

@media (max-width: 1024px) {
    .ErreurPage__container {
        gap: 0;
    }

    .ErreurPage__container__text p {
        padding: 1em;
        font-size: 100%;
        text-align: justify;
    }


    .ErreurPage__container__text {
        max-width: 600px;
        margin-top: 20px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        text-align: -webkit-center;
    }
}

@media (max-width: 1024px) {
    #error {
        width: 20em;
    }
}