.centerDIV{
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #3e4246;
}

p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 50px;
    color: #0cab34;
    font-weight: 900;
    text-align: center;
}

h2{
    font-size: 20px;
    color: #0cab34;
    font-weight: 100;
    text-align: center;
}