.dashboard {
    display: flex;
    background-color: #383c41;

    /* min-height: calc(100vh - 80px); */
    height: var(--dashboard-height, calc(100dvh - 60px));
    overflow-x: hidden;
    /* calc(var(--doc-height) - 55px); */
    /* max-height: calc(100vh - 55px); */
    /* min-height: -webkit-fill-available; */
}

.servers {
    min-width: 72px;
    background-color: #202225;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    overflow: hidden scroll;
    padding-right: 0px;
}

.servers::-webkit-scrollbar {
    display: none;
}

.servers .list_item .guildAvatar, .userAvatar {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* .userAvatar {
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
} */

.servers .list_item {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
}

.servers .list_item:last-child {
    margin: 0 0 20px;
}

.servers .list_item .guildAvatar img {
    display: block;
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.servers .list_item .userAvatar img {
    display: block;
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.userAvatar img {
    display: block;
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    border-radius: 50%;
}

.servers .list_item .guildAvatar img {
    border-radius: 50%;
    transition: border-radius 0.3s ease-out 0s;
}

.list_item:hover .guildAvatar img {
    border-radius: 30%;
}

.list_item:active .guildAvatar img {
    transform: translateY(1px);
}

.list_item:active .list_balise .balise {
    height: 29px;
}

.list_item.active .guildAvatar img {
    border-radius: 30%;
}

.balise {
    /* position: absolute;
    left: 0;
    top: 0; */

    position: relative;
    overflow: hidden;
    width: 8px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    contain: layout size;
}

.list_balise {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_item {
    /* background-color: #f31010; */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.list_item.active .balise {
    opacity: 1;
    height: 29px;
    transform: none;

    position: absolute;
    display: block;
    width: 8px;
    border-radius: 0 4px 4px 0;
    margin-left: -16px;
    background-color: white;
}

.balise {
    opacity: 0;
    height: 0px;
    transform: none;

    position: absolute;
    display: block;
    width: 0px;
    border-radius: 0 4px 4px 0;
    margin-left: -16px;
    background-color: white;
    transition-property: opacity, height, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.list_item:hover .list_balise .balise {
    height: 15px;
    width: 8px;
    opacity: 1;
}

.list_item:hover.active .list_balise .balise {
    height: 29px;
}

.configuration_list {
    /* transition: width 0.3s ease-out 0s; */
    transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.servers {
    /* transition: width 0.3s ease-out 0s; */
    transition: width 0.4s ease-in-out, min-width 0.4s ease-in-out, max-width 0.4s ease-in-out;
}