.componentGuild {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 90%;
}

.guildModule {
    background-color: rgb(49, 52, 66);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
    padding: 24px;
    cursor: default;
    user-select: none;
    color: white;
    text-align: left;
}

.top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-direction: row;
}

.picto{
    width: "48";
    height: "48";
}

.hSePco:not(:disabled) {
    background-color: rgb(99, 245, 140);
    border-color: rgb(99, 245, 140);
}

.hSePco {
    position: relative;
    width: 52px;
    min-width: 52px;
    height: 28px;
    background-color: rgb(85, 87, 98);
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 59px 62px;
    border-radius: 100px;
    transition: background-color 0.15s ease-out 0s, border-color;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(155, 157, 159);
    border-image: initial;
}

.save{
    margin-top: 50px;
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: #0cab34;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    border: 0px;
}

.cardSuccess {
    z-index: 4000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.cardInsideSuccess {
    padding-top: 10px;
    border-radius: 4px;
    width: 580px;
    max-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 206, 89);
}

.cardInsideError {
    padding-top: 10px;
    border-radius: 4px;
    width: 580px;
    max-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 89, 89);
}

.content {
    width: 100%;
    padding: 0px 15px;
    overflow-y: auto;
}

.BoutonClose {
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    font-weight: 400;
    display: flex;
    border-radius: 3px;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
}

@media (max-width: 800px) {
    .componentGuild {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 24px;
        /* padding-top: 100px; */
        width: 90%;
    }
}

.zoneInterationSucess {
    width: 100%;
    padding: 15px;
    border-radius: 0px 0px 3px 3px;
    margin-top: 0px;
    background-color: rgb(40, 134, 43);
}

.zoneInterationError {
    width: 100%;
    padding: 15px;
    border-radius: 0px 0px 3px 3px;
    margin-top: 0px;
    background-color: rgb(134, 40, 40);
}

@media (max-width: 580px) {
    .componentGuild {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 14px;
        /* padding-top: 100px; */
        width: 95%;
    }
}