.command__input input {
    outline: none;
    border: none;
    width: 100%;
    padding: 17px 22px;
    -webkit-padding-end: 4rem;
    padding-inline-end: 3.5rem;
    border-radius: 12px;
    background-color: #1f1f25;
    color: #FFFFFF;
}

.command__input {
    margin-bottom: 1em;
}

.btnSearch {
    font-size: 14px;
    /* box-shadow: none !important; */
    border-radius: 12px;
    text-transform: capitalize !important;
    color: #8f8f92;
}

.commands-pills {
    display: flex;
    padding: 0;
    grid-gap: 5px;
    gap: 5px;
}

.btn-commands-category {
    /* color: #686873; */
    background-color: #1f1f25;
    padding: 13px 28px;
    font-weight: 600;
    cursor: pointer;
}

.btn-commands-category:hover {
    box-shadow: var(--color-principal) 0px 0px 0px 1px inset;
    /* transi: test 2s ease-in-out; */
    transition: box-shadow 0.3s ease-in-out;
}

.nav-pills {

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    text-decoration: none;
}

.nav-pills::-webkit-scrollbar {
    display: none;
}

.nav-pills {
    border-radius: 12px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-pills li {
    list-style: none;
}

.commands-listing {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
    padding-bottom: 15px;
    color: white
}

.command-card__container {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 29px;
    border-radius: 12px;
    background-color: #1f1f25;
    transition: all .4s;
}

.command-card__container h5 {
    margin-bottom: 0rem;
}

.command-card__body>div {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
}

.command-card__body {
    flex-wrap: wrap;
    grid-gap: 15px;
    gap: 15px;
    display: flex;

    overflow: hidden;


    /* opacity: 0; */
    height: 0;
    /* padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0; */
    transition: all 0.3s ease-in;
}


.command-card__container.active .command-card__body {
    margin-top: 30px;
    height: fit-content;
    transition: all 0.3s ease-in;

    /* opacity: 1; */

    /* opacity: 0;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0; */
}

.command-card__container {
    /* content: "";
    position: relative;
    width: 30px;
    height: 30px;
    background: blue;
    z-index: 10;
    margin-left: -29px; */
    border-left: 5px solid var(--color-principal);
}

@keyframes divOpen {
    0% {
        display: none;
        height: 0%;
        /* transform: scale(0); */
    }

    100% {
        display: flex;
        height: 100%;
        /* transform: scale(1); */
    }

}

.command-card__header>div {
    grid-gap: 16px;
    gap: 16px;
    display: flex;
    align-items: flex-start;
}

.command-card__header {
    width: 100%;
    display: flex;
    grid-gap: 16px;
    gap: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.command-card__header .logo {
    filter: grayscale(100%);
    transition: all .4s;

    width: 26px;
    height: 24px;
    min-width: 26px;
    min-height: 24px;
}

.command-card__container.active .logo {
    filter: grayscale(0%);
    transform: scale(1.2) rotate(5deg);
}

.command-card__header::-moz-selection {
    background-color: none;
    color: initial;
}

/* pour Safari et Chrome */
.command-card__header::selection {
    background-color: none;
    color: initial;
}

.command-card__container .arrow {
    transform: rotate(0deg);
    transition: all .4s;
}

.command-card__container.active .arrow {
    transform: rotate(-180deg);
    transition: transform .4s;
}

.command-card__header__title span {
    color: #8f8f92;
    font-size: 0.9rem;
}

.btn-commands-category.active {
    /* box-shadow: var(--color-principal-hover) 0px 0px 0px 1px inset;
     */
    background-color: var(--color-principal);
    color: white;
    cursor: not-allowed;
    transition: all .4s;
}

.fa-magnifying-glass {
    color: #8f8f92;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-20px, -50%);
}

.command__input {
    position: relative;
}

.elementBody {
    display: flex;
    flex-direction: column;
}

.commands-list .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 46px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.commands-list .top h1 {
    margin: -2px 0 -12px;
    font-size: 55px;
    color: var(--color-principal);
    font-family: "Uni Sans", "Arial", sans-serif;
    font-weight: bold;
}

.commands-list {
    min-height: calc(100vh - 470px);
    background-color: var(--back-first-color);
    /* padding: 50px; */
    padding: 2.5em 15em;
}

.titleCommand {
    text-align: left;
    font-size: 25px;
    color: var(--color-principal);

}

tr td:first-child {
    font-weight: bold;
}

td {
    text-align: left;
}

@media screen and (max-width: 1300px) {
    .commands-list {
        padding: 2.5em 7em;
    }
}

@media screen and (max-width: 1000px) {
    .commands-list {
        padding: 2.5em;
    }
}

@media only screen and (max-width: 720px) {
    .commands-list .top h1 {
        font-size: 40px;
    }

    .commands-list .top {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 720px) {
    .commands-list {
        padding: 10px;
    }
}