.configuration_list {
    background: #2e3137;
    color: #fff;

    flex-direction: column;
    min-height: 0;
    width: 240px;
    max-width: 240px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.configuration_list::-webkit-scrollbar {
    display: none;
}

.config::-webkit-scrollbar {
    display: none;
}

.config {
    min-width: 0;
    min-height: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    flex-direction: column;
    position: relative;
    overflow: hidden;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: scroll;

    padding: 3em 3em 32px 3em;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.configuration_list header {
    height: max-content;
    border-radius: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #22252a;
}

.configuration_list header.withBanner p {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    height: 135px;
}

.configuration_list header p {
    padding: 0.5em 0.5em 0.5em;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-rendering: optimizeLegibility;
}

.configList .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    fill: aliceblue;
    padding: 2em 0 0 0;

    margin-inline-start: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 900;
    color: rgb(242, 244, 251);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 16px;


    padding: 1em 0 0;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.configList .title:first-child {
    padding: 1em 0 0 0;
}

.configList .element {
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 3px 0;
    flex: 1 1 0%;
    transition: color 0.15s ease-out 0s;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0.3em;
    cursor: pointer;

    line-height: 16px;
    font-weight: 500;
}

.configList p {
    text-overflow: ellipsis;
    overflow-x: clip;
    white-space: nowrap;
}

.configList .element:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.configList .element div svg {
    width: 1em;
}

.configList .element div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
}

.configList a {
    text-decoration: none;
    color: #cccdd0;
}

.configList a:hover {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.configList .active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.configList .title div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.configList .title div svg {
    width: 1em;
}

.configList {
    color: white;
    text-align: left;
    margin: 0.5em;
    display: block;
    padding: 0;
    user-select: none;
}

.configList * {
    padding: 0;
    margin: 0;
}

.configList li {
    list-style-type: none;
}

.buttonMenu {
    display: none;
    background: transparent;
}

@media (max-width: 900px) {
    .buttonMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 24px;
    }

    .config {
        padding: 3em 3em 3em 2em;
        filter: brightness(0.5);
        transition: filter 0.5s;
        min-width: 97%;
        pointer-events: none;
    }

    .close {
        min-width: 0;
        max-width: 0;
        width: 0;
    }

    .disabledConfig {
        filter: brightness(1);
        pointer-events: auto;
    }

    .buttonMenu span {
        display: flex;
        align-items: center;
        width: 1em;
        justify-content: center;
        height: 5em;
        background-color: #2e3137;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
        border-radius: 0 0.3em 0.3em 0;
        min-width: 24px;;
        max-width: 24px;
    }

    .buttonMenu span.rotate svg {
        rotate: -90deg;
    }

    .buttonMenu span svg {
        rotate: 90deg;
        animation: moveLeftRight 1.5s infinite alternate;
    }

    @keyframes moveLeftRight {
        0% {
            transform: translateY(0px);
        }


        100% {
            transform: translateY(-3px);
        }
        
    }
}

@media screen and (max-width: 340px) {
    .configuration_list {
        width: calc(100vw - (30px + 72px));
        min-width: 0;
        max-width: calc(100vw - (30px + 72px));
    }

    .configuration_list.close {
        width: 0;
        min-width: 0;
        max-width: 0;
    }
}