.testRadio {
    padding: 4px 7px 5px 7px;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 10px;
    transition: background-color 330ms ease-in-out;
}

.testRadio:hover {
    color: #fff;
    background-color: #085e1d;
}


.titleCommand {
    text-align: left;
    font-size: 25px;
    color: var(--color-principal);

}

tr td:first-child {
    font-weight: bold;
}

td {
    text-align: left;
}