.embedMessage {
    display: grid;
    grid-template-columns: 2.1fr 1fr 0.3fr;
    background-color: rgb(49, 52, 66);
    padding: 30px;
    border-radius: 8px;
    gap: 10px;
}

.sendButton {
    padding: 14px 18px 14px 18px;
    color: #fff;
    background-color: #0cab34;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
    border: 0px;
    transition: transform 330ms ease-in-out;
}

.sendButton:hover {
    transform: scale(1.10);
}

#messageToSend{
    padding-left: 10 px;
    padding-right: 10 px;
}

@media (max-width: 900px) {
    .embedMessage {
        display: grid;
        grid-template-columns: 1fr
    }
}