.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.newModule {
  background-color: rgba(99, 245, 140, 0.16);
  color: rgb(99, 245, 140);
  padding: 0px 8px;
  border-radius: 30px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  background-color: #212529;
}