.rolesInfo {
    /* background-color: #3e4246; */
    background-color: #1f1f25;
    padding: 1rem 1.5rem;
    /* border-radius: 3px; */
    height: min-content;
    max-height: min-content;
    min-height: min-content;
    text-align: left;
    white-space: nowrap;
    border-radius: 12px;
}

.roleRender {
    color: white;
    font-size: 12px;
    font-weight: 500;
    background: #292b2f;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 4px 4px 0;
    padding: 4px;
    display: flex;
    flex-wrap: nowrap;
    max-width: fit-content;
    flex-direction: row;
    -o-box-align: center;
    align-items: center;
}

.roleRender span {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px 2px 4px 4px;
    /* background-color: green; */
}

.roleInfo div {
    margin: 4px 4px 4px 2px;
}

.rolesInfo h1 {
    color: var(--color-principal);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5rem !important;
}

.roleInfo {
    padding-bottom: 1rem;
}

.roleInfo h5 {
    font-weight: 700 !important;
    color: var(--color-principal-hover);
    font-size: .75rem !important;
    line-height: 1rem !important;
}

@media screen and (max-width: 800px) {
    .rolesInfo {
        display: none;
    }
}