header, nav, footer, section, article, aside {
	position: relative;
	background-color: #343a40;
	box-sizing: border-box;
}

/* nav{
	display: grid;
	grid-template-areas: 
	"text bouton";
	grid-template-columns: 3fr 0.3fr;
} */

header {
    text-align: left;
	border: 3px solid #343a40;
	height: 2%;
	color: white;
	border-bottom-right-radius: 0.5em ;
	border-bottom-left-radius: 0.5em ;
	padding: 0.3em 0.2em;
}

ul#menu li {
	display: inline;
	grid-area: text;
	margin: 3vmax;
    align-items: center;
    height: 50px;
    align-items:initial;
    /* line-height: 50px; */
}

ul#menu li a{
    text-decoration: none;
    color: white;
}

ul {
	display: inline;
	/* grid-area: text; */
	margin: 0px;
}

.App-logo {
    height: 7vmin;
    pointer-events: none;
}

.boutonLogin{
	border: 0px;
	padding: 4px 8px 4px 8px;
    color: #fff;
    background-color: #0cab34;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    line-height: normal;
}

.iYBTfC {
    margin-inline-start: 10px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.LogoNav{
	border-radius: 50%;
    background-size: 30px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
}

.jGScIj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 569px) {
    .loginTemplate {
        display: none;
    }
}
