.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 20px 80px;
    flex-direction: column;
}

.features {
    background-color: #40454a;
}

.feature .image {
    border-radius: 10px;
    transition: transform 330ms ease-in-out;
}

.feature .image:hover {
    transform: scale(1.05);
}


.features__content {
    width: 100%;
    max-width: 1200px;
}

.features .feature.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

features .feature .image {
    width: 400px;
    height: 350px;
}

.features .feature .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 64px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
}

.features .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 30px 30px 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out,-webkit-transform .7s ease-in-out;
    transition: opacity 1s ease-in-out,-webkit-transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out,opacity 1s ease-in-out;
    transition: transform .7s ease-in-out,opacity 1s ease-in-out;
    transition: transform .7s ease-in-out,opacity 1s ease-in-out,-webkit-transform .7s ease-in-out;
}

.features .feature .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 64px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
    text-align: left;
}

.features .feature .content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features .feature .content .title h3 {
    font-family: "Uni Sans","Arial",sans-serif;
    font-size: 50px;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0;
    color: #0cab34;
}

.features .feature .content .title .show-commands {
    margin: 0 0 10px 25px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: .3s transform;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}

.features .feature .content p {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: .05em;
    color: #fff;
}
.title h3 {
    font-weight: bold;
}

.features .feature.active {
    transform: translateX(0);
    opacity: 1;
}

.features .feature .content .title .show-commands:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

@media screen and (max-width: 980px) {
    .features .feature {
        -webkit-box-pack:center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 10px 0 30px!important;
        text-align: center;
    }

    .features .feature .content .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .features .feature .content .title h3 {
        font-family: "Uni Sans","Arial",sans-serif;
        font-size: 50px;
        line-height: 72px;
        text-transform: uppercase;
        margin: 0;
    }

    .features .feature .image {
        display:none
    }
}

@media screen and (max-width: 980px) {
    .features {
        padding:60px 50px 40px
    }

    .features .feature .content .title h3 {
        font-size:40px;
        line-height: 50px
    }
}

@media screen and (max-width: 720px) {
    .features {
        padding:40px 30px
    }

    .features .feature .content .title .show-commands {
        margin:0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .features .feature .content p {
        margin: 0;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: .05em;
        color: #fff
    }
}

@media screen and (max-width: 480px) {
    .features {
        padding:40px 0px
    }

    .features .feature .content .title h3 {
        font-size:36px;
        line-height: 46px
    }

    .features .feature .content{
        margin: 0 20px;
    }
}