.feature {
    /* top: 2em; */
    /* text-align: left; */
    text-align: center;
    margin-bottom: 2em;
}

.features {
    box-sizing: inherit;
    /* height: 700vh; */
    background-color: #40454a;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.features .columns {
    display: -webkit-flex;
    display: flex;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
    /* display: block; */
}

.stickyElement {
    position: sticky;
    top: 25;
}


.picture {
    display: block;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    flex: none;
    width: 83.33333337%;
}

.picture img {
    padding-top: 3.5em;
    width: inherit;
    pointer-events: none;
}

.picture img:first-child {
    padding-top: 6em;
}

.article {
    background-color: var(--color-principal);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;

    position: -webkit-sticky;
    position: sticky;

    margin-top: 3em;

    top: 3em;
    position: sticky;
    margin-bottom: 41em;
    text-align: left;
}

.feature h1, .feature h2, .feature h3, .feature h4, .feature h5, .feature h6 {
    color: white;
}

.Article h2 {
    color: white !important;
}

.articleContainer {
    /* overflow: clip; */
    height: auto;

    z-index: 1;
    display: block;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.articleContainer.left {
    margin-left: -20rem;
}

.articleContainer.right {
    margin-right: -20rem;
    padding-left: 2.25rem
}

.feature-container {
    /* max-width: 1344px; */
}

@media screen and (max-width: 1100px) {
    /* .revertMobile {
        flex-direction: column
    } */

    .features .columns {
        flex-direction: column-reverse;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }

    .features .columns.revertMobile {
        flex-direction: column
    }

    .article {
        margin-top: 0;
        margin-bottom: 0;
    }

    .picture {
        width: 85%;
        display: flex;
        /* justify-content: center; */
        flex-direction: row;
        overflow-x: scroll;
        gap: 1em;
        align-self: center;
        border-radius: 0.5rem;
        padding: 0;
    }

    .articleContainer {
        align-self: center;
    }

    .articleContainer.left {
        margin-left: 0rem;
    }

    .articleContainer.right {
        margin-right: 0rem;
        padding-left: 0.75em;
    }

    .picture img {
        border-radius: 0.5rem;
        padding-top: 0;
    }

    .picture img:first-child {
        padding-top: 0;
    }
}

@media screen and (max-width: 840px) {
    .feature {
        margin-bottom: 0.5em;
    }

    .picture {
        display: none;
    }
}