.footer {
    background-color: #202225;
    padding: 3rem 1.5rem 4rem;
}

.footer-bottom {
    background-color: #202225;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer-bottom p {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
}

.container {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.footer .container .columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
}

.column {
    display: block;
    /* -webkit-flex-basis: 0; */
    /* flex-basis: 0; */
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    color: white;
    text-align: left;
    width: 15%;
}

.column h5 {
    margin: 0 0 1rem;
}

.column p {
    margin-bottom: 0.5rem;
}

.column a {
    color: white;
    text-decoration: none;
}

.column a:hover {
    color: var(--color-principal);
    animation: color-change 1s infinite alternate;
}

.column Link {
    color: white;
    text-decoration: none;
}


.column Link:hover {
    color: var(--color-principal);
    animation: color-change 1s infinite alternate;
}

.column:first-child {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.column:first-child svg {
    transform: scale(1.4);
}

.column svg:hover {
    animation: respirationFooter 3s infinite alternate;
}

@keyframes respirationFooter {
    0% {
        filter: drop-shadow(0 0 0rem var(--color-principal));
    }

    95% {
        filter: drop-shadow(0 0 0.75rem var(--color-principal));
    }

    100% {
        filter: drop-shadow(0 0 0.75rem var(--color-principal));
    }
}


@keyframes color-change {
    0% {
        color: var(--color-principal);
    }

    95% {
        color: var(--color-principal-hover);
    }

    100% {
        color: var(--color-principal-hover);
    }
}

@media screen and (max-width: 1024px) {
    .column {
        width: 20%;
    }

    .column:first-child {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 20%;
        /* padding-left: 7em; */
    }

}

@media screen and (max-width: 768px) {
    .footer .container .columns {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .column {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .column:first-child {
        transform: scale(0.8);
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}