.previewMusic {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.125);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    margin: 0 auto;
}

.playerMusic {
    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
    color: var(--color-principal) ;
}

.playerMusic svg {
    margin: 15px;
    width: 40px;
    height: 40px;
}

.ClearQueue{
    text-align: right;
    color:  var(--color-principal);
    margin-bottom: 0;
    padding-right: 0.7em;
    cursor: pointer;
    transition: transform 330ms ease-in-out;
}

.ClearQueue:hover {
    color:  var(--color-principal-hover);
}

.musiqueRender{
    margin-top: 30px;
    background-color: rgb(49, 52, 66);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
    padding: 24px;
    user-select: none;
    color: white;
    border-radius: 8px;
    width: calc(100vh - 100px);
}

.playerMusic svg{
    transition: transform 330ms ease-in-out;
    
}

.playerMusic svg:hover {
    transform: scale(1.10);
}

.zoneInterationPlaylist{
    width: 100%;
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
    margin-top: 0px;
    gap: 10px;
    background-color: #22252a;
}

.BoutonConfirm {
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    font-weight: 400;
    /* display: flex; */
    border-radius: 8px;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    color: rgb(255, 255, 255);
    background: rgb(40, 134, 40);
    border: none;
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    transition: transform 330ms ease-in-out;
}

.BoutonConfirm:hover{
    transform: scale(1.10);
}

.BoutonDecline {
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    font-weight: 400;
    /* display: flex; */
    margin-left: 10px;
    border-radius: 8px;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 25px;
    transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
    color: rgb(255, 255, 255);
    background: rgb(134, 40, 40);
    border: none;
    cursor: pointer;
    min-height: 32px;
    min-width: 60px;
    width: unset;
    transition: transform 330ms ease-in-out;
}

.BoutonDecline:hover{
    transform: scale(1.10);
}


@media (max-width: 900px) {
    .musiqueRender{
        margin-top: 30px;
        background-color: rgb(49, 52, 66);
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
        padding: 24px;
        user-select: none;
        color: white;
        border-radius: 8px;
        width: calc(100vh - 100px);
    }
}

@media (max-width: 765px) {
    .musiqueRender{
        margin-top: 30px;
        background-color: rgb(49, 52, 66);
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
        padding: 24px;
        user-select: none;
        color: white;
        border-radius: 8px;
        width: calc(100vh - 100px);
    }
}

@media (max-width: 550px) {
    .musiqueRender{
        margin-top: 30px;
        background-color: rgb(49, 52, 66);
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 8%) 0px 4px 4px;
        padding: 24px;
        user-select: none;
        color: white;
        border-radius: 8px;
        width: auto;
    }
}