.leaderboardglobal {
    background-color: var(--back-second-color);
    min-height: calc(100vh - 56px);
    height: 100%;
}

.infinite-scroll-component {
    display: flex;
    flex-direction: column;
    /* grid-gap: 15px; */
    gap: 15px;
    /* padding-bottom: 15px; */
    color: white;
}

.noLevelData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3em;

    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

.leaderboard {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    gap: 2em;
}

.rolesInfo {
    /* background-color: #3e4246; */
    background-color: #1f1f25;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    height: min-content;
    max-height: min-content;
    min-height: min-content;
    text-align: left;
    white-space: nowrap;
}

.roleRender {
    color: white;
    font-size: 12px;
    font-weight: 500;
    background: #292b2f;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 4px 4px 0;
    padding: 4px;
    display: flex;
    flex-wrap: nowrap;
    max-width: fit-content;
    flex-direction: row;
    -o-box-align: center;
    align-items: center;
}

.roleRender span {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px 2px 4px 4px;
    /* background-color: green; */
}

.roleInfo div {
    margin: 4px 4px 4px 2px;
}

.rolesInfo h1 {
    color: var(--color-principal);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5rem !important;
}

.borderTop {
    border-top: 1px solid var(--color-principal);

    height: 1rem;
}

.roleInfo {
    padding-bottom: 1rem;
}

.roleInfo h5 {
    font-weight: 700 !important;
    color: var(--color-principal-hover);
    font-size: .75rem !important;
    line-height: 1rem !important;
}

.leaderboardLevel {
    flex: 3;
}

.leaderboardglobal .top {
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 46px;
    align-items: center;
}

.leaderboardglobal {
    background-color: var(--back-first-color);
    padding: 2.5em 15em;
}

.leaderboardglobal .top h1 {
    margin: -2px 0 -12px;
    font-size: 55px;
    color: var(--color-principal);
    /* font-family: "Uni Sans", "Arial", sans-serif; */
    font-weight: bold;
}

.leaderboardPlayerStatBlock .leaderboardPlayerStatValue {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-top: 5px;
    color: #fff;
}

.leaderboardPlayerStatTextLoading {
    animation: cssSkeletonAnimation 1.5s infinite;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: blur(3px);
}

.leaderboardPlayerStatBlock .leaderboardPlayerStatValueLoading {
    height: 20px;
    border-radius: 1em;
    margin-inline-start: 15px;

    background: linear-gradient(90deg, #50555a 0%, #3e4246 50%, #50555a 100%);
    animation: cssSkeletonAnimation 1.5s infinite;
    /* background-color: #50555a; */
    /* width: 1000Px; */
    width: 4em;

    display: flex;
    -o-box-orient: vertical;
    flex-direction: column;
    -o-box-align: center;
    align-items: center;
}

@keyframes cssSkeletonAnimation {
    0% {
        opacity: 0.5;
    }

    10% {
        background-position: -100px 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        background-position: calc(100px + 100%) 0;
    }

    100% {
        opacity: 0.5;
    }
}

.leaderboardPlayerStatBlock .leaderboardPlayerStatName {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1px;
    color: #85878a;
    white-space: nowrap;
}

.leaderboardPlayer {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 55px;
    padding: 35px 0px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.leaderboardPlayersListContainer {
    /* margin: auto; */
    max-width: 100%;
    -webkit-flex-shrink: 2;
    flex-shrink: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 1;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    border-radius: 3px;

    /* padding: 29px; */
    border-radius: 12px;
    background-color: #1f1f25;


    /* background-color: #3e4246; */
    /* -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
}


.leaderboardPlayer .leaderboardPlayerLeft {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    max-width: 65%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 65%;
    -ms-flex: 0 1 65%;
    flex: 0 1 65%;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.leaderboardRank {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 35px;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    background-color: #50555a;
    height: 35px;
    border-radius: 50%;
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 600;
    color: #fff;
}

.leaderboardPlayerStats {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    /* -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; */
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    margin-inline-start: auto;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.leaderboardPlayerStatBlock {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    height: 50px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-inline-start: 30px;
}

.leaderboardPlayerStatBlock {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    height: 50px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-inline-start: 30px;
}

.leaderboardPlayerStat {
    /* display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box; */
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 50%;
    padding: 1px;
    width: 60px;
    height: 60px;
    /* background-color: #50555a; */
    position: relative;
    z-index: 1;
    margin-inline-start: 20px;
}

.leaderboardPlayerIcon {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline-start: 15px;
}

.leaderboardPlayerIconLoading {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline-start: 15px;
    background: linear-gradient(90deg, #50555a 0%, #3e4246 50%, #50555a 100%);
    animation: cssSkeletonAnimation 1.5s infinite;
}

.leaderboardPlayerUsernameLoading {
    box-flex: 1;
    height: 20px;
    border-radius: 1em;
    margin-inline-start: 15px;
    background: linear-gradient(90deg, #50555a 0%, #3e4246 50%, #50555a 100%);
    animation: cssSkeletonAnimation 1.5s infinite;
    width: 10em;
}

.leaderboardPlayerUsername {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-inline-start: 15px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.leaderboardPlayerIcon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url("https://cdn.discordapp.com/embed/avatars/1.png");
    background-size: 50px 50px;
    border-color: #757e8a; */
}

.leaderboardRank.premier {
    background-color: #FFE04A;
    color: #FF9E03;
    font-weight: 900;
}

.leaderboardRank.second {
    background-color: #B9DFF9;
    color: #6093BA;
    font-weight: 800;
}

.leaderboardRank.troisieme {
    background-color: #F5B680;
    color: #C66E04;
    font-weight: 700;
}

.leaderboardPlayerStat {
    /* display: none; */
}

/* .spinneur{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 72px;
    z-index: 1000;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
} */


.niveau {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    /* color: var(--color-principal); */
}

.text-success {
    color: #198754 !important;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1300px) {
    .leaderboardglobal {
        padding: 2.5em 7em;
    }
}

@media screen and (max-width: 1000px) {
    .leaderboardglobal {
        padding: 2.5em;
    }
}

@media screen and (max-width: 650px) {
    .leaderboardPlayerStats .leaderboardPlayerStatBlock:first-child {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .rolesInfo {
        display: none;
    }
}

@media screen and (max-width: 515px) {
    .leaderboardPlayerStatBlock {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .leaderboardPlayerIcon {
        /* display: none; */
        grid: 0%;
    }

    .leaderboardPlayerStats {
        display: none;
    }

    .leaderboardPlayer .leaderboardPlayerLeft {
        flex: 0 1 100%;
        max-width: 95%;
    }

    .leaderboardPlayer {
        padding-right: 0;
    }

    .leaderboardglobal {
        padding: 0.5em;
    }
}