.guildSeparator {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
}

.guildSeparator span {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background: var(--color-principal);
}

.list_item:hover {
    cursor: pointer;
}

/* .list_item:hover span .name {
    color: var(--color-principal);
    display: block;
} */

.list_item span {
    display: none;
    background: green;
}

.list_item:hover span {
    display: block;
    position: absolute;
    top: 25%;
    left: 100%;
    /* white-space: nowrap; */
}

.guildAvatar.inviteBot {
    filter: grayscale(100%);
}

.guildAvatar.loading {
    border-radius: 50%;
    background-color: var(--color-principal);
    /* background-color: red; */

    /* background: radial-gradient(circle,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0) 100%); */

    animation: loaderGuild 1s infinite alternate;
    opacity: 0.5;
}

.list_item .guildAvatar img::lo {
    animation: loaderGuild 1s infinite alternate;
}

.list_item.cantChange {
    cursor: not-allowed;
    pointer-events: visible;
}

.list_item.cantChange:hover .guildAvatar {
    animation: leftToRight 0.3s ease-out infinite;
}

.list_item.cantChange:hover .list_balise .balise {
    height: 15px;
    width: 8px;
    opacity: 0;
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
    }


    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }
}


.list_item.cantChange:hover .guildAvatar img {
    border-radius: 100% !important;
}


@keyframes loaderGuild {
    0% {
        background-color: hsla(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (max-width: 900px) {
    .servers {
        padding-top: 10px;
    }
}