.guildSeparator {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
}

.guildSeparator span {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background: var(--color-principal);
}

.list_item:hover {
    cursor: pointer;
}

.list_item span {
    display: none;
    background: green;
}

.list_item:hover span {
    display: block;
    position: absolute;
    top: 25%;
    left: 100%;
}

.guildAvatar.inviteBot {
    filter: grayscale(100%);
}

.guildAvatar.loading {
    border-radius: 50%;
    background-color: rgba(var(--color-red), var(--color-green), var(--color-blue), 0.3);

    animation: loaderGuild 1s infinite alternate;
    opacity: 0.5;
}

.list_item .guildAvatar img::lo {
    animation: loaderGuild 1s infinite alternate;
}

.list_item.cantChange {
    cursor: not-allowed;
    pointer-events: visible;
}

.list_item.cantChange:hover .guildAvatar {
    animation: leftToRight 0.3s ease-out infinite;
}

.list_item.cantChange:hover .list_balise .balise {
    height: 15px;
    width: 8px;
    opacity: 0;
}

.guildNameListing {
    z-index: 999999;
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
    }


    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }
}


.list_item.cantChange:hover .guildAvatar img {
    border-radius: 100% !important;
}


@keyframes loaderGuild {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .servers {
        padding-top: 10px;
    }

    .guildNameListing {
        z-index: 999999;
        display: none;
    }
}